/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.dmg-read-more {
	a {
		display: block;
		color: #000000;
		font-weight: 700;
		text-decoration: none;
		transition: background-color 0.2s ease-out;
		background-color: #f6f6f6;
		padding: 1rem 2rem;

		&:hover {
			text-decoration: underline;
			text-underline-offset: 0.25em;
			background-color: #1a56db;
			color: #ffffff;
		}
	}
}
